@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;;
    margin: 0;
    background-color: rgb(255, 255, 200);
}

.mat-form-field-empty.mat-form-field-label {
    color: darkslategray;
}

.mat-form-field-underline {
    color: darkslategray;
}
