.loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 400px;
    width: 400px;
    background-color: white;
    text-align: center;
}

.loginBtn {
    background-color: darkslategray; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.loginBtn:disabled {
    background-color: lightgrey; /* Green */
    border: none;
    color: darkslategray;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: default;
}